<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			
			<h2 class="f3 lh-title light-gray b tc mb2">Looking for Expert Adivce</h2>
			<p>We're happy to help.</p>

			<a href="#" class="btn raise">Contact Us</a>

		</div>

		
			

			

		</div>
	</div>

</footer>

<foot class="bg-grey ph3 pv4 white">
	<div class="mw7 center pt3">
			2018 Prescriptive Data Solutions	
		</div>
</foot>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
