::selection {
  background-color: var(--highlight);
}

body {
    font-family: roboto,helvetica,helvetica neue,arial,sans-serif;
    font-size: 18px;
    /* font-size: 1rem; */
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fffdfc;
    color: #56575b;
}

footer .measure-narrow  {
  text-align: center;
    color: #fff;
}

footer .measure-narrow .btn {
  background: #d23026;
    color: #fff;
      box-shadow: none;
}

foot {
     background: #3d3f46;
    width: 100%;
    display: block;
    padding: 16px 0 !important;
    color: #fff;
    font-size: 15px;
}

foot .pt3 {
      padding: 0;
}

.black {
  background: #d23026;
    padding: 10px;
    color: #fff !important;
    margin-top: 15px;
}

.lh-title {
  color: #56575b!important;
  font-size: 1.2rem !important;
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}
