{{ define "main" }}
    <img src="/img/blog-single.jpg" alt="single" class="br0 db mb0 w-100"/>
  <div class="mw10 center ph3 pv4 single-post">
    <div class="ph1-ns w-75-ns flex">
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
   {{ .Content }}
    </div>
       </div>
       <div class="ph1-ns w-20-ns flex">
         <img src="/img/contact.jpg" alt="contact" class="br0 db mb0 w-100"/>
      </div>
    
  </div>




{{ end }}
